//-----  MAIN  -----
.main {
  //-----  first section -----
  .first_section {
    position: relative;
    background: linear-gradient(
        0deg,
        rgba(51, 51, 51, 0.85),
        rgba(51, 51, 51, 0.85)
      ),
      url(../img/HDRbackground-min.jpg);
    height: 100%;

    .first_section_panel {
      position: fixed;
      left: 0;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      align-items: center;
      height: 100vh;
      width: 150px;
      background: #333333bf;
      user-select: none;
      &-text {
        transform: rotate(-90deg);
        margin-bottom: 165px;
        width: 244px;
        span {
          font-style: normal;
          font-weight: bold;
          font-size: 18px;
          line-height: 25px;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          color: #c4c4c4;
        }
      }
      &-line {
        height: 80px;
        border-left: 3px solid #c4c4c4;
        margin-bottom: 40px;
      }
      &-social {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 174px;
        margin-bottom: 86px;
        &_item {
          fill: #ffffff;
          fill-opacity: 0.6;
          transition: all 0.3s ease;
          &:hover {
            fill: $theaterGold;
            fill-opacity: 1;
          }
        }
      }
    }
    //----  header  -----
    .header {
      display: flex;
      justify-content: space-between;

      .header_nav_panel {
        display: flex;
        margin-top: 50px;
        &-item {
          margin-right: 63px;
          &-text {
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 25px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #ffffff;
            transition: all 0.3s ease;
            padding-bottom: 5px;
            border-bottom: 2px solid transparent;
            &:hover {
              border-bottom: 2px solid $theaterGold;
            }
          }
        }
      }
      .header_phone {
        margin-top: 50px;
        font-family: $OSCondensed;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        text-align: right;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #ffffff;
        cursor: pointer;
        padding-bottom: 5px;
        border-bottom: 2px solid $theaterGold;
      }
    }

    //----  first section content  ----
    .first_section-content {
      display: flex;
      align-items: center;
      padding: 190px 0;
      &_text {
        display: flex;
        flex-direction: column;
        width: 540px;
        margin-right: 125px;
        &-title {
          font-style: normal;
          font-weight: bold;
          font-size: 64px;
          line-height: 87px;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          color: #ffffff;
        }
        &-description {
          margin-top: 30px;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 150%;
          color: #ffffff;
        }
        &-poster_button {
          margin-top: 50px;
          width: 160px;
          font-style: normal;
          font-weight: bold;
          font-size: 18px;
          line-height: 25px;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          color: #ffffff;
          background: $theaterGold;
          padding: 15px 43px;
          transition: all 0.2s ease;
          &:hover {
            background: #d1a954d9;
          }
        }
      }
      .carousel_wraper {
        display: flex;
        flex-direction: column;
        width: 370px;
        height: 570px;
        .first_section-content_carousel {
          display: flex;
          flex-direction: column;
          &-item {
            position: relative;
            width: 370px;
            height: 510px;

            &_img {
              height: 490px;
              width: 350px;
              z-index: 999;
            }
            &_img-back {
              position: absolute;
              right: 0;
              bottom: 0;
              z-index: -1;
              background: #d1a954;
              img {
                opacity: 0.2;
                height: 490px;
                width: 350px;
              }
            }
          }
          .owl-nav {
            display: flex;
            justify-content: space-between;
            margin-top: 35px;
            .owl-prev {
              border: none;
              width: 108px;
              height: 25px;
              fill: #c4c4c4;
              transition: all 0.3s ease;
              &:hover {
                fill: #d1a954;
              }
            }
            .owl-next {
              border: none;
              color: #c4c4c4;
              width: 108px;
              height: 25px;
              fill: #c4c4c4;
              transition: all 0.3s ease;
              &:hover {
                fill: #d1a954;
              }
            }
          }
        }
      }
    }
  }

  //-----  about section -----
  .ubout_theater {
    padding: 160px 0 150px;
    background: #333333;
    .ubout_theater-title {
      font-style: normal;
      font-weight: 300;
      font-size: 48px;
      line-height: 65px;
      text-align: center;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #ffffff;
      > span {
        color: $theaterGold;
      }
    }
    .ubout_theater-content {
      display: flex;
      margin-top: 100px;
      &-description {
        display: flex;
        flex-direction: column;
        &_title {
          font-style: normal;
          font-weight: bold;
          font-size: 21px;
          line-height: 29px;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          color: #ffffff;
        }
        &_text {
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 150%;
          color: #ffffff;
          margin-top: 40px;
        }
      }
      &-numbers {
        &_title {
          font-style: normal;
          font-weight: bold;
          font-size: 21px;
          line-height: 29px;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          color: #ffffff;
        }
        &-items {
          margin-top: 40px;

          &_item {
            &:last-child {
              @include desktop {
                margin-top: 25px;
              }
            }
            .item_text {
              font-style: normal;
              font-weight: bold;
              font-size: 16px;
              line-height: 22px;
              letter-spacing: 0.05em;
              color: #ffffff;
              margin-top: 15px;
              > span {
                color: $theaterGold;
              }
            }
          }
        }
      }
    }
  }
}
