

//colors var
$theaterGold: #D1A954;
$theaterBlack: #333333;

// Fonts var
$OS: "OS", sans-serif;
$OSCondensed: "OSCondensed", sans-serif;

// Viewports
$mobile-sm-width: 320px;
$mobile-width: 420px;
$tablet-width: 768px;
$laptop-width: 1024px;
$desktop-width: 1300px;

// Gutters
$mobile-pads: 33px;
$tablet-pads: 39px;
$desktop-pads: 40px;